In [132]:
import networkx as nx 
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [133]:
coordinates_file = '../../Fieldwork/QGIS maps/SamplingSites.csv'
threshold = 185
threshold_times = 4

In [134]:
coord_df = pd.read_csv(coordinates_file)[['field_1','Easting','Northing']]
HM_coord_df = coord_df[coord_df['field_1'].str.contains("HM")]
HM_coord_array = HM_coord_df[['Easting','Northing']].to_numpy()
HM_coord_array

array([[320921.4822, 656728.5146],
       [320705.2484, 657092.0069],
       [320804.6399, 657022.3257],
       [320886.7573, 656965.4714],
       [321032.5353, 656859.6535],
       [320917.2719, 656718.3484],
       [320794.7322, 656816.8548],
       [320691.1877, 656883.3524],
       [320594.9087, 656954.4676]])

In [135]:
HM_dist_matr = np.zeros((len(HM_coord_df),len(HM_coord_df)))
for i in range(len(HM_coord_df)):
    for j in range(len(HM_coord_df)):
        HM_dist_matr[i,j] = np.linalg.norm(HM_coord_array[i,:]-HM_coord_array[j,:])
pd.DataFrame(HM_dist_matr)

,0,1,2,3,4,5,6,7,8
0,0.000000,422.946460,316.191533,239.487669,171.843540,11.003556,154.497746,277.507299,397.120900
1,422.946460,0.000000,121.384265,221.261640,401.378646,429.621507,289.337223,209.127721,176.328978
2,316.191533,121.384265,0.000000,99.878320,279.997425,324.173050,205.709633,179.401727,220.435700
3,239.487669,221.261640,99.878320,0.000000,180.135097,248.999835,174.801352,212.110817,292.055969
4,171.843540,401.378646,279.997425,180.135097,0.000000,182.353455,241.623764,342.169288,447.779806
5,11.003556,429.621507,324.173050,248.999835,182.353455,0.000000,157.224327,279.893525,399.587674
6,154.497746,289.337223,205.709633,174.801352,241.623764,157.224327,0.000000,123.058499,242.624636
7,277.507299,209.127721,179.401727,212.110817,342.169288,279.893525,123.058499,0.000000,119.695520
8,397.120900,176.328978,220.435700,292.055969,447.779806,399.587674,242.624636,119.695520,0.000000

In [136]:
np.linalg.norm(HM_coord_array[0,:]-HM_coord_array[1,:])

np.float64(422.9464604672558)

In [137]:
np.linalg.norm(np.array([1,2])-np.array([2,1]))

np.float64(1.4142135623730951)

In [138]:
HM_coord_array[0,:]

array([320921.4822, 656728.5146])

In [139]:
def get_tri_matr(array,fill=np.nan,keep_diagonal=False):
    j = 0
    if keep_diagonal: diag = 1
    else: diag = 0

    for i in range(len(array)-diag):
        array[(i+diag):,j] = fill
        j += 1
    return array

In [140]:
HM_dist_matr_tri = get_tri_matr(HM_dist_matr,keep_diagonal=0)
pd.DataFrame(HM_dist_matr_tri)

,0,1,2,3,4,5,6,7,8
0,NaN,422.94646,316.191533,239.487669,171.843540,11.003556,154.497746,277.507299,397.120900
1,NaN,NaN,121.384265,221.261640,401.378646,429.621507,289.337223,209.127721,176.328978
2,NaN,NaN,NaN,99.878320,279.997425,324.173050,205.709633,179.401727,220.435700
3,NaN,NaN,NaN,NaN,180.135097,248.999835,174.801352,212.110817,292.055969
4,NaN,NaN,NaN,NaN,NaN,182.353455,241.623764,342.169288,447.779806
5,NaN,NaN,NaN,NaN,NaN,NaN,157.224327,279.893525,399.587674
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.058499,242.624636
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.695520
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
def get_neighb_matr(array,threshold,threshold_times):
    array[np.where(array>threshold)] = threshold_times * threshold
    return array

HM_neighb_matr = get_neighb_matr(HM_dist_matr,threshold,threshold_times)
pd.DataFrame(HM_neighb_matr)

,0,1,2,3,4,5,6,7,8
0,NaN,740.0,740.000000,740.00000,171.843540,11.003556,154.497746,740.000000,740.000000
1,NaN,NaN,121.384265,740.00000,740.000000,740.000000,740.000000,740.000000,176.328978
2,NaN,NaN,NaN,99.87832,740.000000,740.000000,740.000000,179.401727,740.000000
3,NaN,NaN,NaN,NaN,180.135097,740.000000,174.801352,740.000000,740.000000
4,NaN,NaN,NaN,NaN,NaN,182.353455,740.000000,740.000000,740.000000
5,NaN,NaN,NaN,NaN,NaN,NaN,157.224327,740.000000,740.000000
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.058499,740.000000
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.695520
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN